

<header>
    <div class="container">
      <h1 class="logo"></h1>
  <img src="img/logo.svg" style="display: inline-block; height:5%; margin-bottom: 20px; ">


      <nav>
        <ul class="align-items-center">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#proyecto">Proyecto</a></li>
          <li><a href="#equipo">Equipo</a></li>
          <li><a href="#redes">Redes Sociales</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
