

<header>

  <a href="/" style="display: inline; margin-left: 5%;"><img src="img/logo.svg" style="height:5%; margin-top: 5px;"></a>


      <nav style="margin-right: 15%;">
        <ul class="align-items-center">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#proyecto">Proyecto</a></li>
          <li><a href="#equipo">Equipo</a></li>
          <li><a href="#redes">Redes Sociales</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </nav>


  </header>
